.list{
  padding-left: 15vw;
  padding-top: 15vh;
 }
 .filter{
   padding-left: 15vw;
   padding-top: 5vh;
 }
#app > * {
 // direction: rtl;
  .list{
    padding-left: 15vw;
    padding-top: 15vh;
   }
   .filter{
     padding-left: 15vw;
     padding-top: 5vh;
   }

}

